.App {
  text-align: center;
  color: #635f5f;
}

.App-link {
  color: #61dafb;
}

.section-body {
    border: 1px solid #232324;
    width: 300px;
    /* text-align: center; */
    margin-left: 38%;
    padding: 10px;
    margin-top: 10px;
}

/*button {
  padding: 10px;
  background-color: #e912e0;
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
  font-weight: bold;
}

button:hover {
  background-color: #a312e9;
}*/

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
